.item-sprite{width:200px;height:200px;display:inline-block;background-repeat:no-repeat}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR1.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR2.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR3.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR4.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR5.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR6.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SS7.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR8.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR9.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR10.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR12.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR13.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR14.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR15.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR16.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR17.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR18.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR19.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR20.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR21.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR22.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR23.png")}
.no-webp .item-sprite{background-image:url("../SupportIcon/SSR24.png")}


.is__SSR1background-position: -60px -0;}
.is__SSR2{background-position:-50px -20px;}
.is__SSR3{background-position:-50px -20px;}
.is__SSR4{background-position:-100px 0;}
.is__SSR5{background-position:-50px 0;}
.is__SSR6{background-position:-80px -80px;}
.is__SS7{background-position:-80px -20px;}
.is__SSR8{background-position:-100px 0;}
.is__SSR9{background-position:-10px 0;}
.is__SSR10{background-position:-20px -20px;}
.is__SSR12{background-position:-20px 0;}
.is__SSR13{background-position:-100px 0;}
.is__SSR14{background-position:-100px 0;}
.is__SSR15{background-position:-100px -20px;}
.is__SSR16{background-position:-100px 0;}
.is__SSR17{background-position:-10px 0;}
.is__SSR18{background-position:-100px 0;}
.is__SSR19{background-position:0 -40px;}
.is__SSR20{background-position:-20px -20px;}
.is__SSR21{background-position:-100px 0;}
.is__SSR22{background-position:-30px 0;}
.is__SSR23{background-position:0 -20px;}
.is__SSR24{background-position:-10px 0;}
