.item-sprite{width:200px;height:200px;display:inline-block;background-repeat:no-repeat}
.item-sprite{background-image:url("https://raw.githubusercontent.com/Featherines/Uma-musume-TH.github.io/main/SupportIcon/SSR1.png");
.is__SSR1background-position: -60px -0;}
.is__SSR2{background-position:-50px -20px;}
.is__SSR3{background-position:-50px -20px;}
.is__SSR4{background-position:-100px 0;}
.is__SSR5{background-position:-50px 0;}
.is__SSR6{background-position:-80px -80px;}
.is__SS7{background-position:-80px -20px;}
.is__SSR8{background-position:-100px 0;}
.is__SSR9{background-position:-10px 0;}
.is__SSR10{background-position:-20px -20px;}
.is__SSR12{background-position:-20px 0;}
.is__SSR13{background-position:-100px 0;}
.is__SSR14{background-position:-100px 0;}
.is__SSR15{background-position:-100px -20px;}
.is__SSR16{background-position:-100px 0;}
.is__SSR17{background-position:-10px 0;}
.is__SSR18{background-position:-100px 0;}
.is__SSR19{background-position:0 -40px;}
.is__SSR20{background-position:-20px -20px;}
.is__SSR21{background-position:-100px 0;}
.is__SSR22{background-position:-30px 0;}
.is__SSR23{background-position:0 -20px;}
.is__SSR24{background-position:-10px 0;}
