html {
    overflow-y: scroll
}

body,html {
    padding: 0;
    margin: 0;
    font-family: Open Sans,Helvetica,sans-serif;
    font-feature-settings: none;
    font-variant-ligatures: none;
    background-color: var(--c-bg-alt);
    color: var(--c-text-main)
}

body {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .01em;
    word-break: normal;
    overflow-wrap: anywhere;
    text-shadow: 1px 1px 1px rgba(0,0,0,.05)
}

a {
    color: var(--c-text-link);
    text-decoration: none
}

* {
    box-sizing: border-box
}

h1 {
    font-family: Work Sans,M PLUS\ 1p,sans-serif;
    margin-top: 15px
}

::selection {
    background-color: #70aec5;
    color: #1a2309
}

table {
    border: .5px solid var(--c-table-border);
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle
}

table thead tr th {
    background-color: #e0e0e0;
    color: #00202a
}

table tbody tr td,table thead tr th {
    border: .5px solid var(--c-table-border);
    padding-left: 5px;
    padding-right: 5px
}

li>p {
    margin-bottom: 5px
}

:root {
    --c-brand-orange: #f96815;
    --c-brand-cool: #7aa7a5;
    --c-bg-main: #f7f7f7;
    --c-bg-alt: #dfdfdf;
    --c-bg-alt-hover: #cecece;
    --c-text-main: #070707;
    --c-text-link: #5757d8;
    --c-text-success: #34832d;
    --c-text-error: #c01818;
    --c-bg-error: #d39daf;
    --c-bg-error-hover: #c08a9d;
    --c-bg-alt-link: #0000b5;
    --c-topnav: #7aa7a5;
    --c-topnav-hover: #8eb9b7;
    --c-topnav-text: #1d1905;
    --c-header-text: #34363b;
    --c-row-std: #e0f1f1;
    --c-row-alt: #f7f7f7;
    --c-row-subtle: #e5e5e5;
    --c-row-inactive: #bebebe;
    --c-discreet-alt: #6b5611;
    --c-std-header: #dbdbdb;
    --c-table-border: #242424;
    --c-orange: #dd621b;
    --c-bg-blank: var(--c-bg-alt);
    --c-layout-leftdown: 0 0 0 10px;
    --c-layout-rightdown: 0 0 10px 0;
    --c-brightness-10: brightness(90%);
    --image-dim: none;
    --invert: none
}

[data-theme=dark] {
    --c-brand-orange: #f96815;
    --c-brand-cool: #7aa7a5;
    --c-bg-main: #1a1a1a;
    --c-bg-alt: #313131;
    --c-bg-alt-hover: #292929;
    --c-text-main: #e0e0e0;
    --c-text-link: #bf6ee0;
    --c-text-success: #40d333;
    --c-text-error: #cf4f4f;
    --c-bg-error: #8d2648;
    --c-bg-error-hover: #a72d56;
    --c-bg-alt-link: #bd89fc;
    --c-topnav: #2a413d;
    --c-topnav-hover: #41645e;
    --c-topnav-text: #cecece;
    --c-header-text: #b9b9b9;
    --c-row-std: #324b4c;
    --c-row-alt: #1a1a1a;
    --c-row-subtle: #2b2b2b;
    --c-row-inactive: #222;
    --c-discreet-alt: #ccaf4f;
    --c-std-header: #f0f8ff;
    --c-table-border: #666;
    --c-orange: #f17a35;
    --c-bg-blank: var(--c-bg-main);
    --c-layout-leftdown: 0 0 0 0;
    --c-layout-rightdown: 0 0 0 0;
    --c-brightness-10: brightness(110%);
    --image-dim: brightness(0.8) contrast(1.2);
    --invert: invert(1)
}

.dimmed {
    filter: var(--image-dim);
    -webkit-filter: var(--image-dim)
}

.article-image {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.bar-of-progress {
    z-index: 50
}

.ad_rightnav {
    display: none!important
}

@media screen and (min-width: 1023px) {
    .ad_rightnav {
        width:300px;
        height: 250px;
        display: block!important
    }
}

.ad_pagetop {
    display: inline-block!important;
    min-width: 300px;
    max-width: 320px;
    width: 100%;
    height: 50px
}

@media screen and (min-width: 790px) {
    .ad_pagetop {
        max-width:728px;
        width: 728px;
        height: 90px
    }
}

@media screen and (min-width: 1023px) {
    .ad_pagetop {
        display:none!important
    }
}

.cbanner {
    height: 50px;
    background-color: #b8860b
}

.legal_main_wrapper__GDZnz {
    padding: 10px
}

.legal_button_accept__6MlZn {
    border: 0;
    background-color: #9ec539;
    width: 120px;
    min-height: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px
}

.legal_button_reject__sef9U {
    border: 0;
    background-color: #d19898;
    width: 120px;
    min-height: 30px;
    cursor: pointer
}

.legal_button_default__FgdQg {
    border: 0;
    background-color: #ececec;
    width: 120px;
    min-height: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px
}

.legal_cookie_banner_wrapper__Qqeq_ {
    z-index: 50
}

.legal_cookie_banner_wrapper__Qqeq_,.legal_cookie_banner_wrapper_hidden__2jI8b {
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    max-height: 150px
}

.legal_cookie_banner_wrapper_hidden__2jI8b {
    z-index: -1;
    display: none
}

.legal_cookie_banner__WQMMm {
    padding: 0 2px;
    background-color: var(--c-bg-main);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 90%;
    border: 1px solid var(--c-text-main);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.15),2px 2px 2px 1px rgba(0,0,0,.15)
}

.legal_cookie_banner_image_wrapper__QZbWb {
    margin: auto;
    overflow: hidden
}

@media screen and (max-width: 700px) {
    .legal_cookie_banner_image_wrapper__QZbWb {
        overflow:visible
    }
}

.legal_cookie_banner_image__tDszw {
    min-width: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(2px)
}

@media screen and (max-width: 700px) {
    .legal_cookie_banner_image__tDszw {
        transform:none
    }
}

.legal_cookie_banner_text__2cxkb {
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.legal_cookie_banner_selection__enm6G {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center
}

@media screen and (max-width: 1023px) {
    .legal_cookie_banner_selection__enm6G {
        flex-direction:column;
        margin-right: 10px
    }
}

.legal_cookies_banner_moreinfo__Mjabz {
    font-size: 100%;
    margin: auto 20px auto auto
}

@media screen and (max-width: 1023px) {
    .legal_cookies_banner_moreinfo__Mjabz {
        margin:auto auto 20px
    }
}

.legal_cookie_banner_button__Oy_Qr {
    color: #fff;
    background-color: #5cb85c;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.legal_cookie_banner_button__Oy_Qr:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.legal_input_code__sxgv8 {
    font-size: 100%;
    width: 50%;
    min-width: 200px;
    display: block;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px
}

.legal_code_good__bOsFb {
    margin-top: 10px;
    color: var(--c-text-success)
}

.legal_code_bad__XL_Ko {
    margin-top: 10px;
    color: var(--c-text-error)
}

.legal_legal_text__IPBzk {
    max-width: 900px;
    font-size: 17px;
    margin: auto
}
